.text-pd-muted {
    color: #7e93a5 !important;
    font-size:9px;
}

.text-pd-success {
    color: #1ed071 !important;
}
.text-pd-dangerous {
    color: red !important;
}
.text-pd{
    display: inline-block;
    font-size:11px;
}