.flatform-info-container {
  .list-link-title {
    display: flex;
    font-weight: 600;
    font-size: 18px;
  }

  .list-link-data {

    .list-link-items {
      padding: 0;
      margin: 0;

      .link-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        border-bottom: 1px solid #ededed;
        height: 40px;
        text-align: start;
        line-height: 40px;

        a {
          text-decoration: none;
          color: #4886c4;
          font-size: 14px;
        }
      }
    }
  }

  .not-enough-data-list-link{
    display: flex;
    justify-content: center;
    font-size: 14px;
    height: 165px;
    flex-flow: column;
    color: #90949c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  }

  .button-show-more{
    max-width: 200px;
    transition: opacity 500ms 1000ms ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: solid 1px #096898;
    padding: 9px;
    cursor: pointer;
    font-size: 13px;
    vertical-align: middle;
    // margin: auto;
    line-height: 20px;
    border-radius: 3px;
    color: #096898;
    text-align: center;
    margin: 10px 10px 0 0;
  }
}
