.supplier-and-store-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 360px;
    background: #ffffff;
    padding: 10px 0px;


    .left-supplier{
        display: flex;
        align-items: center;
        margin: 0 5px;
    }

    .right-supplier{
        width: 50%;
        margin: 0px 10px;
    }

    .list-link-title{
        width: 100%;
        font-size: 1.375rem;
        font-weight: 400;
        line-height: 1.3em;
        color: inherit;
        margin: 0 12px;
        /* margin: 0px 0px 0.59em; */
        //display: -webkit-box;
        /* border-bottom: 2px solid rgb(216, 216, 216); */
        /* padding: 10px; */
    }
    .list-link-title::after {
        content: "";
        display: block;
        margin-top: 12px;
        max-width: 90px;
        height: 2px;
        background-color: #d8d8d8;
    }
    .ali-checkbox{
        margin-right: 5px;
        font-size: 14px;
        color: #0000008a;
        display: flex;
        float: right;
        input[type=checkbox]:checked:not(:disabled):after {
            content: "";
            width: 14px;
            height: 14px;
            display: block;
            background: 50%;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 10px;
        }
        input {
            vertical-align: middle;
            width: 16px;
            height: 16px;
            margin-top: 5px;
            background-color: #fff;
            cursor: pointer;
            -webkit-appearance: none;
            border-radius: 3px;
            outline: none;
            border: 1px solid #d2dce8;
        }
        
        input:focus:checked:not(:disabled) {
            border: 1px solid #179ac7;
        }
        
        input:checked:not(:disabled) {
            background: #27b7d7;
        }


    }
}